body{
  max-width:800px;
  margin: 0 auto;
}
@font-face {font-family: "iconfont";
  src: url('font/iconfont.eot?t=1567643280105'); /* IE9 */
  src: url('font/iconfont.eot?t=1567643280105#iefix') format('embedded-opentype'), /* IE6-IE8 */
 url('font/iconfont.woff?t=1567643280105') format('woff'),
  url('font/iconfont.ttf?t=1567643280105') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('font/iconfont.svg?t=1567643280105#iconfont') format('svg'); /* iOS 4.1- */
}

.phpcn-icon{
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.phpcn-icon-yuedu:before {
  content: "\e601";
}

.phpcn-icon-php:before {
  content: "\e609";
}

.phpcn-icon-apache:before {
  content: "\e645";
}

.phpcn-icon-nginx:before {
  content: "\e63c";
}
.phpcn-icon-production:before {
  content: "\e639";
}
.phpcn-icon-mysql:before {
  content: "\ec6d";
}

.phpcn-icon-soft:before {
  content: "\e66c";
}

.phpcn-icon-ftp:before {
  content: "\e66e";
}

.phpcn-icon-redis:before {
  content: "\e649";
}

.phpcn-icon-versions:before {
  content: "\e663";
}


.header-bg{
  background: #000;
}
.header{
  position: relative;
  background: #000;
}
.header .menu{
  position: absolute;
  right: 10px;
  top: 18px;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  background:url(../img/menu.png) center center no-repeat;
  background-size:30px; 

}
.header dl{
  display: none;
  position:absolute;  
  top: 100%;
  right: 0;
  
  background: #000;
  z-index: 999;
}

.header dd a{
  display: block;
  color: #fff;
   padding:5px 10px ;
  line-height:40px;
}
.header dd a:hover{
 
  color: #000;
  background:   #eee;

}

.banner{
   background-color: rgb(29, 34, 46);
}
.banner-item{
  color: #fff;
  text-align: center;

  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.item1 {
  background:url(../img/banner.png) center center no-repeat!important;
}
.item2 {
  background:url(../img/banner2.png) center center no-repeat!important;
}

.banner-item h2 {
   
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
    margin: 10px 0;
    letter-spacing: 3px;

}
.banner-item .des{
  padding: 20px 0;
  margin: 10px 0;
}
.banner-item .des p {
    padding:0 20px;
    line-height: 24px;
    font-size: 14px;
}
.down{
  line-height: 35px;
  padding: 20px 10px 20px 15px;
  background:url(../img/media.png) center center no-repeat!important;
}
.down a{
  float: right;
}
.services {
    padding-top: 10px;
    background-color: #f6f6f6;
}
.title{
      font-size: 1.25rem;
    display: block;
    font-weight: 400;
    padding: 1rem;
    text-align: center;
}
.services dd{
    float: left;
    width: 50%;  
    text-align: center;
}
.services dd div{
  padding: 10px;
  margin: 10px;
   background: #fff;
   box-shadow: 0 2px 2px 0 rgba(207, 216, 221, .7);
   height: 10em;
}
.services dd div h2{
    font-weight: 500;
    text-align: center;
    color: #000;
    margin-bottom: 10px ;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
.services dd div p{
  text-align: left;
  color: #999;  
}
.product {
  padding-top: 10px;
  background-color: #f6f6f6;
  padding: 10px;
}
.product li{
  float: left;
  width: 50%;
}

.product li dl{
    padding: 20px;
    margin: 10px;
    margin-top: .5rem;
    text-align: center;
    background: #fff;  
    height: 15em;
}
.product li dt{
  font-weight: 600;
  font-size: 18px;  
  padding-bottom:10px 0; 
  line-height: 30px;
}
.product li i{
    display: block;
    width:55px;
    margin: 10px auto;
    color: #1e9fff;
    font-size: 30px;
    font-size: 40px;
    border: 1px solid #046bb7;
    padding: 10px;
    border-radius: 16px;
}
.product li dd{
    color: #999;
    margin-top: 10px;
}

.ask {
  margin: 10px;

}
.ask dl{
  margin-bottom: 20px;
  border:  1px solid #e5e5e5;
}
.ask dt{
  line-height: 52px;
  border-bottom:  1px solid #e5e5e5;
  background:url(img/title-bg.png) center center no-repeat!important;
}
.ask dt .layui-icon-form{
    font-size: 20px;
    margin:0 5px;
}
.ask dt .layui-icon-right{
    float: right;
    margin-right: 10px;
}
.ask dd {
  margin: 10px 10px;
}
.ask dd li{
    line-height: 24px;
    margin-top: 10px;
    padding: 0 10px;
    
}
.ask dd li a{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}.ask dd li i{
  font-size: 12px;
   float: right;
}

.footer{
  /* margin: 10px; */
  padding: 20px;
  color: #fff;
  line-height: 24px;
  background: #000;
}
